<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заметки</title>
    <script defer src="js/vue.min.js"></script>
    <script defer src="js/main.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app" class="app">
        <div class="column">
            <h2>Первый столбец</h2>
            <card-form @add-card="addCardToColumn(0)" :disabled="isFirstColumnLocked"></card-form>            <card v-for="(card, index) in columns[0].cards"
                  :key="index"
                  :card="card"
                  @update="updateCard(0, index, $event)">
            </card>
        </div>
        <div class="column">
            <h2>Второй столбец</h2>
            <card v-for="(card, index) in columns[1].cards"
                  :key="index"
                  :card="card"
                  @update="updateCard(1, index, $event)">
            </card>
        </div>
        <div class="column">
            <h2>Третий стобец</h2>
            <card v-for="(card, index) in columns[2].cards"
                  :key="index"
                  :card="card">
            </card>
        </div>
        
    </div>
</body>
</html>